* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonte/charger-sport-font/ChargerSport-w5g8.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonte/Rotobo/RobotoItalic-W0gE.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('fonte/NotoSans/NotoSans-ReRl.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Noto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Header */
header {
    font-family: 'Noto', sans-serif;
    background: linear-gradient(135deg, #F8A035 0%, #F7AC70 100%);
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    text-align: left; 
    animation: fadeInDown 1.2s ease-in-out;
}

.logo-container {
    margin-right: 20px; 
}

.text-container {
    flex: 1; 
}

.additional-container {
    margin-left: 20px; 
}

.logo, .additional-image {
    width: 70px; 
    height: auto; 
}

.header-content h1 {
    font-size: 3rem;
    margin: 0; 
    font-weight: 700;
    color: #000;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.header-content p {
    font-size: 1.3rem;
    color: #020202;
    font-weight: 400;
    margin: 0; 
}

/* Animação de header */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Seção Sobre */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    width: 100%;
    font-family: 'roboto', sans-serif;
}

#about img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 30px;
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

/* Seção Serviços */
#services {
    padding: 40px;
    background: linear-gradient(135deg, #F7AC70 0%, #F8A035 100%);
    text-align: center;
    width: 100%;
}

#services h2 {
    margin-bottom: 20px;
    color: #000000;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilo para links dentro dos service-cards */
a.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

a.card-link:hover .service-card {
    transform: scale(1.05);
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o card */
.service-card {
    font-family: 'roboto', sans-serif;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: inherit;
    display: block;
    text-decoration: none;
}

.service-card:hover {
    transform: scale(1.05);
    background-color: #f1f1f1;
}

.service-card img {
    width: 100%;
    border-radius: 5px;
}

/* Footer */
.footer-divider {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 0;
    width: 100%;
}

footer {
    background: linear-gradient(135deg, #F8A035 0%, #F7AC70 100%);
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 20px 10px;
}

.footer-content {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.footer-socials-container {
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
}

.footer-content p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-socials {
        gap: 20px; 
    }

    footer {
        padding: 10px;
    }

    footer img {
        width: 20px;
    }
}

/* Modal */
.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Noto', sans-serif;
}

.modal-header {
    background-color: #F8A035; 
    color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align: center; 
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0; 
}

.modal-body {
    font-family: 'roboto', sans-serif;
    padding: 20px;
    color: #333;
    line-height: 1.8;
    font-size: 1rem;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-body h6 {
    color: #fd780c; 
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center; 
}

.modal-body ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

.modal-body ul li {
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: #f9f9f9;
}

.modal-footer .btn-secondary {
    background-color: #000000;
    border-color: #000000;
}

.modal-footer .btn-secondary:hover {
    background-color: #000000;
    border-color: #000000;
}

.modal-footer .btn-primary {
    background-color: #000000; 
    border-color: #000000;
}

.modal-footer .btn-primary:hover {
    background-color: #000000; 
    border-color: #000000;
}

.btn-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    opacity: 0.8;
}

.btn-close:hover {
    opacity: 1;
}

.modal-lg {
    max-width: 80%;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .modal-dialog {
        margin: 0;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-header,
    .modal-footer {
        padding: 10px;
    }

    .modal-title {
        font-size: 1.25rem;
    }

    .modal-body {
        font-size: 0.875rem;
        padding: 15px;
    }

    .modal-body h6 {
        font-size: 1rem;
    }
}